.sl_text {
        width: 400px !important;
        /* margin-top:5px !important;*/
    }

    .boldText {
        /*padding-top:5px !important;*/
        font-weight: bold !important;
    }

    .boldText:nth-child(2) {
        font-weight: normal !important;
        margin-top: -15px !important;
    }
     .carouselwithplay {
        background: url(/img/playBtn.png) no-repeat center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        opacity: 1 !important;
        z-index: 999;
        width: 32px;
        height: 32px;
        top: 34%;
        left: 34%;
        position: absolute;
        cursor: pointer;
    }
    .slick-current .carouselwithplay{
        top: 20%;
        }
