<md-card>
    <div class="background">
        <div flex layout="row">
            <div flex="20"></div>
            <img flex="60" style="width:100%;height:250px;" ng-src="https://image.tmdb.org/t/p/w640/{{vm.selectedArtist.profile_path}}" class="md-card-image">
            <div flex="20"></div>
        </div>
    </div>
    <md-card-content>
        <div layout="column">
            <div>{{vm.selectedArtist.name}}</div>
        </div>
    </md-card-content>
</md-card>
<md-content>
    <md-tabs md-dynamic-height="true" md-border-bottom="true" md-stretch-tabs="always">
        <md-tab label="Biography">
            <md-content class="md-padding" id="bio">
                <div layout="column">
                    <span flex style="text-align: justify">{{vm.artistBio.biography}}</span>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Details">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content>
                        <div layout="row" flex ng-if="vm.artistBio.place_of_birth">
                            <span flex="30">Place Of Birth</span>
                            <span flex="10"></span>
                            <span flex="60" style="text-align: justify">{{vm.artistBio.place_of_birth}}</span>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex ng-if="vm.artistBio.gender">
                            <span flex="30">Gender</span>
                            <span flex="70" id="details">{{vm.artistBio.gender == 1 ? 'Female' : 'Male'}}</span>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex ng-if="vm.artistBio.birthday">
                            <span flex="30">DOB</span>
                            <span flex="70" id="details">{{vm.artistBio.birthday}} (age {{vm.calculateAge(vm.artistBio.birthday,vm.artistBio.deathday)}})</span>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex ng-if="vm.artistBio.deathday">
                            <span flex="30">Death Day</span>
                            <span flex="70" id="details">{{vm.artistBio.deathday}}</span>
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
        <!--<md-card-content>
            <div layout="column">
                <div layout="row" style="font-size: 0.9rem" ng-if="vm.artistBio.biography">
                    <span flex="30">Biography</span>
                    <span flex="10"></span>
                    <span flex="60">{{vm.artistBio.biography}}</span>
                </div>
                <md-divider></md-divider>
                <div layout="row" flex>
                    <span flex="30">DOB</span>
                    <span flex="70" style="text-align: center;">{{vm.artistBio.birthday}}</span>
                </div>
                <md-divider></md-divider>
                <div layout="row" flex>
                    <span flex="30">Place Of Birth</span>
                    <span flex="70" style="text-align: center;">{{vm.artistBio.place_of_birth}} </span>
                </div>
                <md-divider></md-divider>
                <div layout="row" flex ng-if="vm.artistBio.gender">
                    <span flex="30">Gender</span>
                    <span flex="70" style="text-align:center;">{{vm.artistBio.gender == 1 ? 'Female' : 'Male'}}</span>
                </div>
            </div>
        </md-card-content>-->
    </md-tabs>
</md-content>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">movies</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <cinema-Swiper data="vm.artistMovies" events="vm.artistMoviesSwiper" swiper-click="vm.openMovieWiki(data);"> </cinema-Swiper>
    </md-card-content>
</md-card>
<style>
    .background {
        width: 100%;
        height: auto;
        /*opacity: 0.6;*/
        background-image: url('https://image.tmdb.org/t/p/w640/{{vm.selectedArtist.profile_path}}');
        background-repeat: no-repeat;
    }
    
    #bio {
        padding: 15px;
        max-height: 350px;
        min-height: 150px;
        overflow-wrap: break-word;
        overflow: scroll;
    }
    
    #details {
        text-align: left;
        padding-left: 30px;
    }
</style>