<md-content>
  <div class="md-padding">
    <md-nav-bar id="profile-btns" md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links" md-no-ink-bar="true">
      <md-nav-item md-nav-click="vm.navbarClick(1)" name="movies">
        Movies
      </md-nav-item>
      <md-nav-item md-nav-click="vm.navbarClick(2)" name="tvshows">
        Tv shows
      </md-nav-item>
    </md-nav-bar>
  </div>
  <md-card>
    <md-card-title flex>
      <md-card-title-text>
        <span class="md-headline">Upcoming movies</span>
      </md-card-title-text>
      <div ng-click="vm.openSeeAll(vm.upComingMovies,'UpComing movies','upcoming_movies')" style="text-align:right;">
        <md-button md-no-ink class="md-primary">See All</md-button>
      </div>
    </md-card-title>

    <md-card-content>
      <div class="background" ng-if="vm.upComingMovies ==''"></div>
      <cinema-Swiper data="vm.upComingMovies" events="vm.upComingMovieSwiper" swiper-click="vm.openMovieWiki(data);"> </cinema-Swiper>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Nowplaying movies</span>
      </md-card-title-text>
      <div ng-click="vm.openSeeAll(vm.nowPlayingMovies,'NowPlaying movies','now_playing_movies')" style="text-align:right;">
        <md-button md-no-ink class="md-primary">See All</md-button>
      </div>
    </md-card-title>
    <md-card-content>
      <cinema-Swiper data="vm.nowPlayingMovies" events="vm.nowPlayingMoviesSwiper" swiper-click="vm.openMovieWiki(data);"> </cinema-Swiper>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Toprated movies</span>
      </md-card-title-text>
      <div ng-click="vm.openSeeAll(vm.topRatedMovies,'TopRated movies','top_rated_movies')" style="text-align:right;">
        <md-button md-no-ink class="md-primary">See All</md-button>
      </div>
    </md-card-title>
    <md-card-content>
      <cinema-Swiper data="vm.topRatedMovies" events="vm.topRatedMoviesSwiper" swiper-click="vm.openMovieWiki(data);"> </cinema-Swiper>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Popular movies</span>
      </md-card-title-text>
      <div ng-click="vm.openSeeAll(vm.popularMovies,'Popular movies','popular_movies')" style="text-align:right;">
        <md-button md-no-ink class="md-primary">See All</md-button>
      </div>
    </md-card-title>
    <md-card-content>
      <cinema-Swiper data="vm.popularMovies" events="vm.popularMoviesSwiper" swiper-click="vm.openMovieWiki(data);"> </cinema-Swiper>
    </md-card-content>
  </md-card>
</md-content>