<div layout="column" style="margin-top:10px;">
    <md-content layout-padding>
        <md-grid-list md-cols-gt-md="3" md-cols-md="3" md-cols-sm="2" md-gutter="1px" md-row-height="1:1.7" md-row-height-lg="1:1.5"
            md-cols="2">
            <md-grid-tile ng-repeat="movie in vm.seeAllMovieList" id="view">
                <md-card style="width:100%;" ng-click="vm.openMovieWiki(movie)">
                    <img style="width:100%;height:100%;" ng-src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}" class="md-card-image md-avatar"
                        aria-label="{{movie.original_title}}" alt="{{movie.original_title}}">
                    <md-card-content>
                        <span>{{movie.original_title}}</span> (<span flex="10">{{movie.vote_average}}</span>)
                    </md-card-content>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </md-content>

</div>

<style>
    md-card md-card-content {
        display: block;
        padding: 5px !important;
        text-align: center !important;
    }
    
    md-grid-list md-grid-tile {
        display: block;
        position: absolute;
        padding: 50px !important;
    }
</style>